@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  /* Hero Section */
  .blue_container {
    @apply w-full rounded-3xl bg-[#D9EAFD] min-h-screen flex justify-center items-center flex-col py-10 px-6;
  }
  .heading {
    @apply px-6 py-3 text-black sm:text-[70px] sm:leading-[88px] lg:text-[90px]  md:text-[80px] md:leading-[104px] lg:leading-[115px] text-[60px] leading-[70px] max-w-5xl text-center  my-2;
  }
  .sub-heading {
    @apply font-normal sm:text-[22px] text-[20px] text-gray-500 max-w-[40px] text-center break-words mt-2;
  }

  /* Search Form */
  .search-form {
    @apply max-w-2xl w-full text-[22px] mt-10 flex flex-row items-center sm:gap-5 gap-2;
  }
  .search-container {
    @apply flex gap-2 bg-white rounded-full w-full items-center;
  }
  .search-input {
    @apply flex-1 font-medium placeholder:font-light w-full h-auto outline-none bg-white sm:text-[22px] text-[20px] max-w-2xl sm:min-h-[70px] min-h-[55px] px-2 pl-6 rounded-full focus:ring-2 focus:ring-blue-500 focus:border-blue-500 focus:outline-none transition-all duration-200;
    background-color: white !important;
  }
  .search-input:-webkit-autofill {
    background-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  .search-btn {
    @apply size-[50px] sm:w-[160px] w-[100px] rounded-full bg-black flex justify-center items-center sm:text-[22px] text-[20px] sm:min-h-[70px] min-h-[55px] font-normal  !important;
  }
  .search-icon {
    @apply flex items-center justify-center text-gray-400 text-[18px] sm:text-[20px] mr-8;
  }
  .search-reset-btn {
    @apply size-[50px] w-[70px]  rounded-full bg-black flex justify-center items-center text-[22px] sm:min-h-[70px] min-h-[60px] font-normal !important;
  }

  /* Flint Section */
  .features-section {
    @apply mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8;
  }
  .features-grid {
    @apply grid grid-cols-1 gap-4 sm:grid-cols-3 sm:divide-x sm:divide-gray-100;
  }
  .features-grid-item {
    @apply flex flex-col px-4 py-8 text-center;
  }
  .features-percentage {
    @apply text-4xl font-semibold text-black md:text-5xl;
  }
  .features-text-bold {
    @apply text-xl font-medium mt-4;
  }
  .features-text-light {
    @apply mt-2 text-gray-600 sm:text-lg text-base;
  }

  /* Component Section */
  .component-section {
    @apply mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-20 lg:px-10;
  }
  .component-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-12 items-stretch;
  }

  /* Left Section */
  .component-grid-left {
    @apply flex justify-center items-center bg-gray-100 rounded-lg h-[400px] sm:h-[500px] w-full;
    @apply transition-all duration-500 ease-in-out hover:scale-105;
  }
  .inside-card {
    @apply text-center text-gray-700 font-medium text-lg;
  }

  /* Right Section */
  .component-grid-right {
    @apply flex flex-col justify-center text-left space-y-6 h-[400px] sm:h-[500px] sm:ml-14 ml-6;
  }
  .component-icon {
    @apply text-black mb-6;
  }
  .component-text-bold {
    @apply text-2xl font-semibold hover:text-blue-600;
  }
  .component-text-light {
    @apply text-gray-600 sm:text-lg text-base;
  }
}
